* {
    box-sizing: border-box;
}

:root {
    --heading-font: Sen, sans-serif;
    --primary-color: #ffb900;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}

/* Common */

.main-content {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}

.btn {
    display: inline-block;
    min-width: 118px;
    color: #fff;
    font-weight: 600;
    font-size: 16px;
    padding: 0 16px;
    line-height: 50px;
    text-align: center;
    border-radius: 999px;
    background: #171100;
    border: none;
    cursor: pointer;
}

.heading {
    color: #171100;
    font-family: var(--heading-font);
    font-weight: 700;
    letter-spacing: -1.16px;
}

.heading.lv1 {
    font-size: 5.8rem;
    line-height: 1.2;
}

.heading.lv2 {
    font-size: 1.8rem;
    line-height: 1.26;
}

.btn:hover {
    opacity: 0.9;
}

a {
    text-decoration: none;
}

.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: var(--line-line-clamp, 1);
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.line-clamp.line-2 {
    -webkit-line-clamp: 2;
}

.line-clamp.line-4 {
    -webkit-line-clamp: 4;
}

.break-all {
    word-break: break-all;
}

/* Header */
.header {
    background: #fffcf4;
}

.header.fixed {
    position: sticky;
    top: -28px;
    z-index: 1;
}

.header .body {
    padding: 36px 0 8px;
    display: flex;
}

.header nav {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.header .nav ul {
    display: flex;
}

.header .nav li a {
    padding: 8px 21px;
    color: #5f5b53;
    font-size: 1.6rem;
}

.nav li a:hover,
.nav li.active a {
    text-shadow: 1px 0 0 currentColor;
    color: #171100;
    position: relative;
}

.nav li.active a::after {
    position: absolute;
    left: 21px;
    bottom: 6px;
    content: "";
    display: block;
    background: #171100;
    width: 12px;
    height: 2px;
    border-radius: 1px;
}

.header .action {
    margin-left: 49px;
}

.header .sign-up-btn {
    min-width: 144px;
}

/* Hero */
.hero {
    padding: 56px 0 65px;
    background: #fffcf4;
}

.hero .body {
    display: flex;
}

/* Hero left */
.hero .media-block {
    width: 48%;
    position: relative;
}

.hero .media-block .img {
    width: 470px;
    height: 685px;
    object-fit: cover;
    border-radius: 20px;
}

.hero .hero-summary {
    position: absolute;
    right: 0;
    bottom: 48px;
    border-radius: 12px;
    background: #fff;
    box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.05);
    padding: 24px;
    width: 270px;
}

.hero-summary .item {
    display: flex;
    align-items: center;
    padding: 0;
}

.hero-summary .item + .item {
    margin-top: 22px;
}

.hero-summary .item .icon {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: #fff9e8;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-summary .item:nth-of-type(2) .icon {
    background-color: #fcefff;
}

.hero-summary .item:nth-of-type(3) .icon {
    background-color: #ebeaff;
}

.hero-summary .info {
    margin-left: 16px;
}

.hero-summary .info .label {
    color: #5f5b53;
    font-size: 1.4rem;
    line-height: 1.86;
}

.hero-summary .info .title {
    color: #171100;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.67;
}

/* Hero right */
.hero .content-block {
    width: 52%;
    padding: 64px 0 0 130px;
}

.hero .desc {
    color: #5f5b53;
    font-size: 1.8rem;
    line-height: 1.7;
}

.hero h1 + .desc {
    margin-top: 22px;
}

.hero .cta-group {
    margin: 38px 0 48px;
    display: flex;
    align-items: center;
}

.hero .hero-cta {
    font-size: 1.8rem;
    min-width: 180px;
    line-height: 64px;
    background: var(--primary-color);
}

.hero .watch-video {
    display: flex;
    align-items: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: transparent;
    margin-left: 28px;
}

.hero .watch-video .icon {
    margin-right: 14px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.07);
}

.hero .watch-video .icon:hover {
    cursor: pointer;
    opacity: 0.7;
}

.hero .watch-video span {
    color: #171100;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.67;
}

.hero .desc-stats {
    display: flex;
    gap: 28px;
}

.hero .stats .stats-number {
    color: #171100;
    font-family: var(--heading-font);
    font-size: 4.4rem;
    font-weight: 700;
    line-height: 1.3;
}

/* Popular */

/* Popular top */
.popular-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 200px;
}

.popular-top .heading {
    color: #171100;
    font-family: var(--heading-font);
    font-size: 3.8rem;
    font-weight: 700;
    line-height: 1.26;
    letter-spacing: -0.76px;
}

.popular-top .desc {
    width: 458px;
    padding-top: 16px;
    color: #5f5b53;
    font-weight: 400;
}

.popular-top .control {
    display: flex;
    gap: 18px;
}

.popular-top .control-btn {
    background-color: transparent;
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
}

.popular-top .control-btn:hover {
    background-color: var(--primary-color);
    color: #fff;
}

/* Popular course */
.courses-list {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    margin-top: 55px;
}

.courses-list .thumb {
    width: calc(100% + 2px);
    height: 378px;
    object-fit: cover;
    border-radius: 12px 12px 0px 0px;
    margin: -1px;
}

.course-item {
    flex: 1;
    border-radius: 12px;
    border: 1px solid #e2dfda;
    background: #fff;
}

.course-item:hover {
    border-color: transparent;
    box-shadow: 0px 18px 36px 0px rgba(0, 0, 0, 0.05);
}

.course-item .info {
    padding: 0 22px 22px;
}

.course-item .head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 16px;
}

.course-item .rating {
    display: flex;
    align-items: center;
    gap: 4px;
}

.course-item .info .title a {
    color: #171100;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.67;
    padding-right: 6px;
}

.course-item .info .desc {
    color: #5f5b53;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 185.714% */
}

.course-item .info .head span {
    color: var(--primary-color);
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75;
}

.course-item .foot {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 12px;
}

.course-item .foot span {
    color: #171100;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.67;
}

.course-item .foot .btn:hover {
    background: var(--primary-color);
    color: #fff;
}

/* Feedback */
.feedback {
    margin-top: 200px;
    padding: 96px 135px;
    background: #2e2100;
}

.feedback-list {
    display: flex;
    overflow: hidden;
}

.feedback-item {
    display: flex;
    flex-shrink: 0;
    justify-content: space-between;
    width: 100%;
    transform: translate(-100%);
    transition: all ease 0.3s;
}

.feedback .info {
    width: 159px;
}

.feedback .info .avatar {
    width: 72px;
    height: 72px;
    border-radius: 50%;
    object-fit: cover;
}

.feedback .info .title {
    margin-top: 18px;
    color: #f7f7f7;
    font-family: var(--heading-font);
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 1.67;
}

.feedback .info .desc {
    margin-top: 4px;
    width: 159px;
    color: #bfbcb2;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.85;
}

.feedback .dots {
    display: flex;
    gap: 6px;
    margin-top: 28px;
}

.feedback .dot {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #634700;
    cursor: pointer;
}

.feedback .dot.active {
    background: #ffb900;
    cursor: default;
}

.feedback .open-quotes {
    margin-left: -30px;
}

.feedback blockquote {
    width: 740px;
    color: #fff;
    font-size: 2.6rem;
    font-style: italic;
    font-weight: 400;
    line-height: 1.54;
}
